.main{
    background-color: yellow;
}
.heading{
    font-size: xx-large;
    font-weight: 900;
    color: gold;
    background-color: blueviolet;
    border: 2px;
    text-align: center;
    border-radius: 16px;
}
.del{
    background-color: blue;
    margin: 10px;
}
.input{
    background-color: gold;
    display: inline-block;
}
.inp{
    text-align: center;
}